:root {
    
    --primary-color:#E8E8E8;


    }
    .light-black
    {
        color:#3A3845;
    }
    .dark-gray
    {
       color:#595667;
    }
    .light-gray
    {
       color:#807F86;
    }
      .ecommeric_card
 {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  
 }

 .christmas-description
 {
    background-color: var(--primary-color);

 }
 .promo-title
 {

    font-family: 'Bodoni Moda', serif;
    letter-spacing: 1.5px;
  
 }
 .product-card {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    text-align: left; 
 }
 .product-name
 {
    min-height:2.5em;
 }
 
 .add-to-cart-btn,.sign-btn {
    width: 100%;
    color:#3A3845;
    border:1.8px solid #3A3845;
    padding: 8px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    margin:50px 0px;
   
}

 .product-desc
{
    color: #807F86;
}
.promo-desc
{
   color: #595667;}
.title
{
    margin-top: 80px !important;
    margin-bottom: 40px !important;
    font-family: 'Bodoni Moda', serif;
    color: #3A3845;
}
.history img{
     aspect-ratio: 1/0.5;
      object-fit: cover;
    
}
.history .row
{
   background-color: var(--primary-color);
}

.signup
 {
    margin-top: 100px;
 }
 .sign-input::placeholder {
    color:#595667;
    font-size: 20px;
}
.sign-input 
{
    border-bottom:2px solid  #595667 !important;
}
.sign-btn{ border: 2px solid #595667 !important;
}

@media (max-width: 764Px) {
    .footer-col-divider {
        border-right: none !important;
        border-bottom: 1.5px solid;
        margin-bottom: 2rem;
      
        
}
 .promo
    {
       margin-top: 15px;
    }
   
}


@media (min-width: 764px) {
    .footer-col-divider {
        border-right: 1.5px solid;
        border-bottom: none !important;
    }
    .reverse-row {
        flex-direction: row-reverse !important;
    }
    .history img{
     aspect-ratio: 1.8/1;
     object-fit: cover;
}
}