:root {
    
    --primary-color:#E8E8E8;


    }
    .light-black
    {
        color:#3A3845;
    }
    .dark-gray
    {
       color:#595667;
    }
    .light-gray
    {
       color:#807F86;
    }

